.cart-info {
    font-size: 2rem;
    width: 50%;
}

.modal-header {
    font-size: 2rem;
    background-color: #062b32;
}


#button-vider-paier {
    float: left;
}
span.text-header{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: auto;
}

a#btn-popup{
    font-size: 1.5rem;
}

div#popup-cart{
    /*background-color: black;*/
}
p {
  text-align: center;
}

span.gauche {
  float: left;
}

span.droite {
  float: right;
}

.media{
    background: rgb(252, 240, 216);
    padding: 15px;
    border-radius: 15px;
    color: #062b32;
    padding-right:0
}



p.product-name {
    font-size: 1.30rem;
    float: left;
}

p.text-price {
    font-size: 1.30rem;
    font-weight: bold;
    float: right;
    margin-right: 15px;
}



.text-quantity-value {
    text-align: left;
    font-size: 1.65rem;
}

p.text-tiret{
    position: absolute;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    bottom: 0px;
}

.row {
    margin-right : 0px;
    margin-left : 0px;
}

#total-text {
    font-size: 1.65rem;
    text-align: left;
    color: #062b32;
}

#total-price {
    font-size: 1.50rem;
    text-align: right;
    color: #062b32;
}

/*.logo-moins{*/
/*    float: right;*/
/*}*/