{% extends 'base_order.html' %}

{% block food_content %}
{% load cart_tag %}
{% load static %}

<!------------------------------------------------ block head -------------------------------------------------->
{% block head %}

<link rel="stylesheet" href="{% static 'ouazzane/css/ouazzane.css' %}"/>
<link rel="stylesheet" href="{% static 'ouazzane/css/ouazzane-mobile.css' %}"/>
{% include "cart/cart_detail.html" with items=request.session.cart.items %}

{% endblock %}
<!--------------------------------------------------end head-------------------------------------------------->


<div class="fixed-bottom">
{#    <button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#popup" id="cart-button"></button>#}
{#    <div id="cercle_nb_articles">#}
{#        0#}
{#    </div>#}
{#    <span class="count bg-dark text-white cart-nb-element" id="cercle_nb_articles">0</span>#}
    <button type="button" class="btn btn-primary btn-circle btn-xl " data-toggle="modal" data-target="#popup" id="cart-button">
        <i class="fas fa-shopping-cart"></i>
    </button>
    <span class="count bg-dark text-white cart-nb-element" id="cercle_nb_articles">0</span>
</div>

<br>


<div class="container" >
    {% if next_category %}
    <h1 class="display-4">Nos {{next_category}}</h1>
    {% else  %}
    <h1 class="display-4">Nos produits</h1>
    {% endif %}

    <div class="ouazzane-items">

    </div>
{#  <div class="row row-cols-md-1 row-cols-md-2 row-cols-md-3 g-4">#}
    <div class="row g-4" id="row-card-product">
  {% for product in products %}
      <div class="col-lg-4 col-mg-6 col-sm-6" id="card-container">
    <div class="card" id="card_{{product.id}}" style="margin: 10px;">
      <img src="{{ product.photo.url }}" class="card-img-top">

      <div class="card-body" id="card-product-body">

          <div class="card-title">
              <p id="product-name"> {{ product.name }}</p>
          </div>

        <div class="card-price-plus" >
            <div class="card-price">
                <p>{{ product.price }} dh</p>
            </div>
            <div class="clickEvent">
              <div class="logo-plus"  >
                <img class="plus-button" src="{% static '/icon/logo-plus.png' %}" id="{{product.id}}">
              </div>
            </div>

       </div>

      </div>

    </div>
      </div>
  {% endfor %}

  </div>

</div>
<script src= "{% static 'cart/js/ajax.js' %}" ></script>
<script src= "{% static 'ouazzane/js/ouazzane.js' %}" ></script>

{% endblock %}
