{% load static %}
<link rel="stylesheet" href="{% static 'cart/css/style-cart.css' %}"/>

<!-- Pop-up -->
<div id="popup" class="modal">
       <div class="modal-dialog">
                <div class="modal-content">

<!-------------------------------   entête du popup  --------------------------->
                 <div class="modal-header" id="popup-cart">

					<span class="gauche">
                        <div class="retour-popup-cart">
                            <a href="#" class="btn btn-warning" id="btn-popup">Retour</a>
                        </div>
                    </span>

                    <span class=text-header>
                        Votre panier
                     </span>

                    <span class="droite">
                        <a href="#" class="btn btn-warning" id="btn-popup">Modifier</a>
                    </span>


                 </div>
<!-------------------------------------------------------------------------------->

<!-------------------------------   Corps du popup  --------------------------->

                 <div class="modal-body">

                    <div class="cart-card-items">
                        {% include 'cart/cart_card_items.html' %}
                    </div>
                     <div class="row">
                         <div class="col-md-7">
                             <p id="total-text"> Total: </p>
                         </div>
                         <div class="col-md-5">
                             <p id="total-price"> Dh</p>
                         </div>
                     </div>


 <!-------------------------------------------------------------------------------->

                 <div class="modal-footer">
                    <span class="gauche">
                         <a href="#" class="btn btn-danger" id="clear-cart">Vider le panier</a>
                    </span>
                     <span class=text-header></span>
                     <span class="gauche">
                         <a href="{% url 'order'%}" class="btn btn-success">Commander</a>
                    </span>
                 </div>
                 </div>
                </div>
       </div>
    </div>
</div>