/* slider */
.slide {
    position: relative;
    background-size: cover;
    align-items: center;
}

/* scroll menu */
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* cass card */


.card-title {
    text-transform: uppercase;
}

.plus-button {
    width:75px ;
    cursor:pointer;
    float:right, bottom;
}

.card-price {
    font-size: 2rem;
    float: left, bottom;
}
/* css button cart */
.btn-circle.btn-xl {
    position: relative;
    height: 9%;
    width: 0;
    padding-right: 9%;
    padding-top: 9%;

    border-radius: 50%;

    cursor:pointer;
    background: transparent;
    background-image: url('/static/icon/cart.png') ;
    background-size: 100% ;
    border-width: thin;
    }

.fixed-bottom{
   transform: translateX(85%);
   padding-bottom: 5% ;
}

.button{
    background-image: url(/static/icon/cart-2.png);
    cursor:pointer;
}

