{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block head %}



{% endblock %}

{% block content %}

<div class="container mt-5">
    <form method="POST" class="form-client">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.first_name%}
        {% bootstrap_field form.last_name %}
        {% bootstrap_field form.adresse %}
        {% bootstrap_field form.phone_number %}
        <div class="clickEvent">
            <div class="button-form">
                <a  class="btn btn-warning btn-block" data-toggle="modal" data-target="#popup_command" id="button-valid-form">Valider les informations</a>
            </div>
        </div>
    </form>
</div>

{% include "order/summary_order.html" with items=request.session.cart.items adresse=form.adresse.value %}

<script src= "{% static 'order/js/ajax.js' %}" ></script>
<script src= "{% static 'order/js/order.js' %}" ></script>

{% endblock %}
