<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {%load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link href="/static/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/base-mobile.css' %}"/>



    {% block head %} {% endblock%}


</head>


<body>

    <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %}" style="background-color: var(--bg-primary-color);" id="navbar-ouazzane">
    <a class="navbar-brand" href="/" style="color: var(--txt-secondary-color)" id="hany-home">Hany</a>


    {% if not request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">

          <li class="nav-item {% if request.GET.next == '/order/' %}active{% endif %}">
              <a class="nav-link active" aria-current="page" href="/sign-in/?next=/order/">Commander</a>
          </li>

            <li class="nav-item {% if request.GET.next != '/order/' %}active{% endif %}">
              <a class="nav-link active" aria-current="page" href="/sign-in/?next=/track_order/">Suivre une commande</a>
            </li>



          </ul>
    </div>
    {% else %}
    <form class="form-inline" >
      <span class="mr-4" id="text-name-title">{{ request.user.get_full_name|title }}</span>
      <a href="/sign-out" class="btn btn-outline-dark" id="btn-logout">Se déconnecter</a>
    </form>
    {% endif %}
</nav>

    {% block content %} {% endblock %}


<footer class="text-center mt-5 mb-5">
    &copy; VirtualRestau.com
</footer>
</body>

</html>